.kanban__column {
  padding: 10px;
  border-radius: 10px;
  width: 300px;
}

.kanban__column-empty {
  border: 1px solid #b0c4de;
}

.kanban__column-filled {
  background: #87cefa;
}

.column__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.column__title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.add__task-button {
  cursor: pointer;
  background: none;
  border: none;
}
